<html>

<head>
<title>Hartelijk dank</title>
</head>

<body>

<h1>Bedankt voor je steun aan een onafhankelijke, onderzoek-gedreven kijk op volkgezondheid! Je bijdrage motiveert me omdat het me het gevoel geeft dat mijn werk er toe doet. Frederik Feys</h1>

<a href="index.html">Ga verder naar thuispagina...</a>

</body>
</html>
